@model Users
@if (TempData.ContainsKey("InvalidCredentials"))
{
    <div class="alert alert-danger">
        @TempData["InvalidCredentials"]
    </div>
}

<!-- form for the database mapped to 10.0.0.5/dotnetcloud/Salamence4003 -->
<!-- deployment machine id password - azureappshade  Azureshade321* -->

<div class="login-form">
    <form asp-controller="Login" asp-action="Login" method="post">
        <input asp-for="Username" placeholder="Username" name="Username" type="text" />
        <input asp-for="Password" placeholder="Password" name="Password" type="password" />
        <button class="log-sub-button" type="submit">Log In</button>
    </form>
</div>

<div class="">
    <a href="">Forgot Password</a>
    <a asp-action="Register">Sign Up</a>
</div>