@model Users

<form asp-controller="Register" asp-action="RegisterUser" method="post">
    <input asp-for="Username" placeholder="Username" />
    <input asp-for="Email" placeholder="Email"/>
    <input asp-for="Password" placeholder="Password"/>
    <input asp-for="Contact" placeholder="Contact"/>
    <button type="submit">Register</button>
</form>