@model Users
@if (TempData.ContainsKey("PreExistingUserError"))
{
    <div class="alert alert-danger">
        @TempData["PreExistingUserError"]
    </div>
}

@if (TempData.ContainsKey("PasswordError"))
{
    <div class="alert alert-danger">
        @TempData["PasswordError"]
    </div>
}


<form asp-controller="Register" asp-action="RegisterUser" method="post">
    <div class="form-group">
        <label for="Username">Username:</label>
        <input asp-for="Username" class="form-control" placeholder="Username" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Email">Email:</label>
        <input asp-for="Email" class="form-control" placeholder="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Password">Password:</label>
        <input asp-for="Password" class="form-control" placeholder="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Contact">Contact:</label>
        <input asp-for="Contact" class="form-control" placeholder="Contact" />
        <span asp-validation-for="Contact" class="text-danger"></span>
    </div>

    <button type="submit">Register</button>
</form>