@model Users

<form asp-action="Register" method="post">
    <input asp-for="Username" />
    <input asp-for="Email" />
    <input asp-for="Password" />
    <input asp-for="Contact" />
    <button type="submit">Register</button>
</form>